[CONFIG]
# BackupDays: Days to store the backups
BackupDays = 3

# BackupMethod: Select default backup method "rdiff-backup" or "rsync"
BackupMethod = rdiff-backup
# BackupMethod = rsync

# RemoteRsync: "Yes" to use "rsync" command to copy files from remote server.
# After that the script use BackupMethod to make a local backup.
# Only activate this option if remote server doesn't have installed rdiff-backup
# because it doubles the size of the backup.
RemoteRsync = No

# ExcludeFile: File with file and directory names to exclude from backup
# ExcludeFile = exclude-files

# Develop: "No" for a basic log or "Yes" for a detailed log
Develop = No

[DIR]
# DirBackup: Base directory where store the backups
DirBackup = /SELECT_BASE_DIR/backups

# DirLog: Log directory
DirLog = ${DirBackup}/logs
